
body{
    background-color: #0f172a;
    height: 100vh;
}
.container{
    height : 100vh;
    display: flex;
    flex-direction :column;
    align-items: center;
    justify-self: center;
 }
.heading{
    font-family : Roboto;
    color : #f8fafc;
    font-weight: bold;
    font-size : 60px;
    text-align: center;
}

.img1{
    height : 576px;
}


@media screen and (min-width: 576px) and (max-width: 576px) {
    .heading {
      color: #f8fafc;
      font-family: 'ROBOTO';
      font-weight: 600;
      font-size: 12px;
    }
    img1 {
      height: 16vh;
    }
  }
  